@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


:root {
    $main-font: "Work Sans", sans-serif;
  
    /* ## Colors */
    /* --cs-white: hsl(0, 0%, 100%);
    --cs-light-pink: hsl(275, 100%, 97%);
    --cs-grayish-purple: hsl(292, 16%, 49%);
    --cs-dark-purple: hsl(292, 42%, 14%);
    --cs-cyan: hsl(280, 62%, 51%); */
  
    $cs-white: 0, 0%, 100%;
    $light-pink: 275, 100%, 97%;
    $grayish-purple: 292, 16%, 49%;
    $dark-purple: 292, 42%, 14%;
    $cyan: 280, 62%, 51%;
  }



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: var($fonte);
    min-height: 100vh;

}


.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon {
    display: none;
}

/*Drk theme*/

.dark,
.dark header  {
    background-color: #42446E;
    color:#fff;
}

.dark .bar {
    background-color: white;
}

.bar {
    background-color: black;  
}


.dark .under {
    color:#000;  
}

.dark a {
    color:#fff; 
}


.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}
