@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');


$fonte:'Work Sans', sans-serif;
// Cores
$White: hsl(0, 0%, 100%);;
$Light-pink: hsl(275, 100%, 97%);
$Grayish-purple: hsl(292, 16%, 49%);
$Dark-purple: hsl(292, 42%, 14%);




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: var($fonte);
    min-height: 100vh;

}


.bi {
    font-size: 1.3rem;
    cursor: pointer;
}

.bi-moon {
    display: none;
}

/*Drk theme*/

.dark,
.dark header  {
    background-color: #42446E;
    color:#fff;
}

.dark .bar {
    background-color: white;
}

.bar {
    background-color: black;  
}


.dark .under {
    color:#000;  
}

.dark a {
    color:#fff; 
}


.dark .bi-sun {
    display: none;
}

.dark .bi-moon {
    display: block;
}
