@import url('/style/abstract/_variables.scss');

body {
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3rem;
    background-color: hsla(var(--cs-light-pink), 100%);
  }
  
  body::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 23.2rem;
    background-color: hsla(var($Light-pink), 100%);
    background-image: url(/assets/images/background-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    z-index: 0;
  }