@import url('/style/abstract/_variables.scss');

.hero {
    background: url('/assets/images/background-pattern-mobile.svg') no-repeat center center var($Dark-purple);
    height: 40vh;
    width: 100%;
}